<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestf4f9cfd799f6bd2ec61f8605c59dcea6"
     onmouseout="mout('dashboardrestf4f9cfd799f6bd2ec61f8605c59dcea6', '#FFFFFF')"
     onmouseover="mover('dashboardrestf4f9cfd799f6bd2ec61f8605c59dcea6');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Sep 2020)&nbsp;Cote intretinere
        Sep 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">153,23&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardresta29faf864b5ef957529167d112fb3c9d"
     onmouseout="mout('dashboardresta29faf864b5ef957529167d112fb3c9d', '#FFFFFF')"
     onmouseover="mover('dashboardresta29faf864b5ef957529167d112fb3c9d');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Aug 2020)&nbsp;Cote intretinere
        Aug 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">163,75&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest8be0517c5f2cc999a4a7f8295dfd20c9"
     onmouseout="mout('dashboardrest8be0517c5f2cc999a4a7f8295dfd20c9', '#FFFFFF')"
     onmouseover="mover('dashboardrest8be0517c5f2cc999a4a7f8295dfd20c9');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Iul 2020)&nbsp;Cote intretinere
        Iul 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">186,13&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest337dbbf69eb7f11b9413f32633e105cd"
     onmouseout="mout('dashboardrest337dbbf69eb7f11b9413f32633e105cd', '#FFFFFF')"
     onmouseover="mover('dashboardrest337dbbf69eb7f11b9413f32633e105cd');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Iun 2020)&nbsp;Cote intretinere
        Iun 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">189,99&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest0943aae20681afdcbd96033f1e142349"
     onmouseout="mout('dashboardrest0943aae20681afdcbd96033f1e142349', '#FFFFFF')"
     onmouseover="mover('dashboardrest0943aae20681afdcbd96033f1e142349');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Mai 2020)&nbsp;Cote intretinere
        Mai 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">250,96&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestb524fe3f1242d4bb8b307bb3c6e9c1a4"
     onmouseout="mout('dashboardrestb524fe3f1242d4bb8b307bb3c6e9c1a4', '#FFFFFF')"
     onmouseover="mover('dashboardrestb524fe3f1242d4bb8b307bb3c6e9c1a4');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Apr 2020)&nbsp;Cote intretinere
        Apr 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">149,45&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest5b12d4724626ac9d8d3ce35fa7d0d0d5"
     onmouseout="mout('dashboardrest5b12d4724626ac9d8d3ce35fa7d0d0d5', '#FFFFFF')"
     onmouseover="mover('dashboardrest5b12d4724626ac9d8d3ce35fa7d0d0d5');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Mar 2020)&nbsp;Cote intretinere
        Mar 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">195,22&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestddf7b7dcddf8c0b63ef8fa7ebf573a85"
     onmouseout="mout('dashboardrestddf7b7dcddf8c0b63ef8fa7ebf573a85', '#FFFFFF')"
     onmouseover="mover('dashboardrestddf7b7dcddf8c0b63ef8fa7ebf573a85');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Feb 2020)&nbsp;Cote intretinere
        Feb 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">187,20&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestf63f36ddedf2b1b8ff05eea1ce7440e1"
     onmouseout="mout('dashboardrestf63f36ddedf2b1b8ff05eea1ce7440e1', '#FFFFFF')"
     onmouseover="mover('dashboardrestf63f36ddedf2b1b8ff05eea1ce7440e1');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Ian 2020)&nbsp;Cote intretinere
        Ian 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">145,78&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest09f39857a8d1c0f86bcca8565022e63e"
     onmouseout="mout('dashboardrest09f39857a8d1c0f86bcca8565022e63e', '#FFFFFF')"
     onmouseover="mover('dashboardrest09f39857a8d1c0f86bcca8565022e63e');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Dec 2019)&nbsp;Cote intretinere
        Dec 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">166,12&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest485527f8cedffa22257c855954f8a9eb"
     onmouseout="mout('dashboardrest485527f8cedffa22257c855954f8a9eb', '#FFFFFF')"
     onmouseover="mover('dashboardrest485527f8cedffa22257c855954f8a9eb');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Noi 2019)&nbsp;Cote intretinere
        Noi 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">179,29&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest68ee595f59fd5f7ce7308df9cd936056"
     onmouseout="mout('dashboardrest68ee595f59fd5f7ce7308df9cd936056', '#FFFFFF')"
     onmouseover="mover('dashboardrest68ee595f59fd5f7ce7308df9cd936056');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Oct 2019)&nbsp;Cote intretinere
        Oct 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">148,02&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestd457d42a12c4e4b1441279c0c70fdede"
     onmouseout="mout('dashboardrestd457d42a12c4e4b1441279c0c70fdede', '#FFFFFF')"
     onmouseover="mover('dashboardrestd457d42a12c4e4b1441279c0c70fdede');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Sep 2019)&nbsp;Cote intretinere
        Sep 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">140,99&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest7a8ece7ac03158518fa55e146537f2c9"
     onmouseout="mout('dashboardrest7a8ece7ac03158518fa55e146537f2c9', '#FFFFFF')"
     onmouseover="mover('dashboardrest7a8ece7ac03158518fa55e146537f2c9');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Aug 2019)&nbsp;Cote intretinere
        Aug 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">112,04&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest2ffeb8423389d0e7913aad8041242d28"
     onmouseout="mout('dashboardrest2ffeb8423389d0e7913aad8041242d28', '#FFFFFF')"
     onmouseover="mover('dashboardrest2ffeb8423389d0e7913aad8041242d28');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(Lista Iul 2019)&nbsp;Cote intretinere
        Iul 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">186,84&nbsp;</div>
    <div class="clearfloat"></div>
</div>
