<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestd1001e3e06ee80a6d11a8f466e8c0063"
     onmouseout="mout('dashboardrestd1001e3e06ee80a6d11a8f466e8c0063', '#FFFFFF')"
     onmouseover="mover('dashboardrestd1001e3e06ee80a6d11a8f466e8c0063');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol13454 / 16.10.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 163,75 Cote intretinere August 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">163,75&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestf6f1fba1dd25b9765bf4d35773e50138"
     onmouseout="mout('dashboardrestf6f1fba1dd25b9765bf4d35773e50138', '#FFFFFF')"
     onmouseover="mover('dashboardrestf6f1fba1dd25b9765bf4d35773e50138');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol13120 / 16.09.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 189,99 Cote intretinere Iunie 2020; 186,13 Cote intretinere Iulie 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">376,12&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardreste24c17c115ed8c87a12282973b97d26e"
     onmouseout="mout('dashboardreste24c17c115ed8c87a12282973b97d26e', '#FFFFFF')"
     onmouseover="mover('dashboardreste24c17c115ed8c87a12282973b97d26e');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol12542 / 21.07.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 250,96 Cote intretinere Mai 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">250,96&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest1e37087c4f9567548dcf78ceb959a3b4"
     onmouseout="mout('dashboardrest1e37087c4f9567548dcf78ceb959a3b4', '#FFFFFF')"
     onmouseover="mover('dashboardrest1e37087c4f9567548dcf78ceb959a3b4');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol12223 / 17.06.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 149,45 Cote intretinere Aprilie 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">149,45&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest1af2ba1f2936091795c363dd38d995af"
     onmouseout="mout('dashboardrest1af2ba1f2936091795c363dd38d995af', '#FFFFFF')"
     onmouseover="mover('dashboardrest1af2ba1f2936091795c363dd38d995af');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol11866 / 13.05.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 195,22 Cote intretinere Martie 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">195,22&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestff2f3dc8cd294988d1e0fbee4a7ec731"
     onmouseout="mout('dashboardrestff2f3dc8cd294988d1e0fbee4a7ec731', '#FFFFFF')"
     onmouseover="mover('dashboardrestff2f3dc8cd294988d1e0fbee4a7ec731');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol11582 / 15.04.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 187,20 Cote intretinere Februarie 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">187,20&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest28d677b2f15d126c30230964456fb3f6"
     onmouseout="mout('dashboardrest28d677b2f15d126c30230964456fb3f6', '#FFFFFF')"
     onmouseover="mover('dashboardrest28d677b2f15d126c30230964456fb3f6');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol11292 / 12.03.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 145,78 Cote intretinere Ianuarie 2020
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">145,78&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestf7532c33bb27e8734aafe23856532f38"
     onmouseout="mout('dashboardrestf7532c33bb27e8734aafe23856532f38', '#FFFFFF')"
     onmouseover="mover('dashboardrestf7532c33bb27e8734aafe23856532f38');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol11085 / 17.02.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 166,12 Cote intretinere Decembrie 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">166,12&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest81a728e401e1889856a228a9bd22ff6d"
     onmouseout="mout('dashboardrest81a728e401e1889856a228a9bd22ff6d', '#FFFFFF')"
     onmouseover="mover('dashboardrest81a728e401e1889856a228a9bd22ff6d');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol1804 / 15.01.2020)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 179,29 Cote intretinere Noiembrie 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">179,29&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrest9ddbc78c60c1f8c0d17570aff4ec977d"
     onmouseout="mout('dashboardrest9ddbc78c60c1f8c0d17570aff4ec977d', '#FFFFFF')"
     onmouseover="mover('dashboardrest9ddbc78c60c1f8c0d17570aff4ec977d');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(bancasol1672 / 20.12.2019)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 140,99 Cote intretinere Septembrie 2019; 148,02 Cote intretinere Octombrie 2019
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">289,01&nbsp;</div>
    <div class="clearfloat"></div>
</div>
<div style="width:450px; float:left; text-align: left;cursor:pointer; " class="globalcontainer"
     id="bgtrdashboardrestb0f6a8090aea017e02d6bf1a66556e72"
     onmouseout="mout('dashboardrestb0f6a8090aea017e02d6bf1a66556e72', '#FFFFFF')"
     onmouseover="mover('dashboardrestb0f6a8090aea017e02d6bf1a66556e72');">
    <div style="width: 347px; float: left;padding-top: 5px;padding-left: 3px;">(SOLAR413 / 21.10.2019)&nbsp;Ap. 59
        Cioclea Aurelian Andrei 22,05 (186,84 Cote intretinere Iul 2019; 112,04 Cote intretinere Aug 2019)
    </div>
    <div style="width: 100px; float: left; text-align: right;padding-top: 5px;">298,88&nbsp;</div>
    <div class="clearfloat"></div>
</div>